
      {{ question_form.hidden_tag() }}
      <p>
          {{ question_form.question_text.label }}<br>
          {{ question_form.question_text(size=128, style="width: 400px; height: 150px;") }}

          {% for error in question_form.question_text.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      <h4>Варианты ответа:</h4>
        <p>
            {% for j, answer_form in enumerate(question_form.AnswerList) %}
                {% include 'answerCreate.html' %}
            {% endfor %}

        </p>


      <p>{{ question_form.add(style="width: 500px; height: 30px;") }}</p>
      <p>{{ question_form.delete(style="width: 500px; height: 30px;") }}</p>
      <br>